<html>
  <head>
    <style>pre{font-family: monospace; background: #f0f0f0;
      color: #111;white-space: pre-wrap;padding:20px;}main{max-width:600px;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;}</style>
    
  </head>
  
  <body>

      <h1>Ayn Rand Ipsum</h1>
      <p>"I swear by my life and my love of it, that I will write my copy before designing my site because the drama is in what you say, not the design." - Yna Rnad</p>
   <main>
    {{content}}
    </main>
    <hr>
    <p>Created by <a href="https://dmkgll.com">dmkgll</a></p>
  </body>
  </html>
