<html>
  <head>
    <style>pre{font-family: monospace; background: #f0f0f0;
      color: #111;white-space: pre-wrap;padding:20px;}main{max-width:600px;padding-left:10px;padding-right:10px;}body{font-size:16px;}p{font-size:20px;}</style>
    
  </head>
  
  <body>


      <p><strong>Ayn Rand Ipsum</strong> "I swear by my life and my love of it, that I will write my copy before designing my site because the drama is in what you say, not the design." - Yna Rnad</p>
   <main>
    {{content}}
    </main>
    <hr>
    <p>Created by <a href="https://dmkgll.com">dmkgll.</a></p>
    <p>Sourced from the <a href="http://aynrandlexicon.com/">Ayn Rand Lexicon.</a></p>
          <p>Mixed using <a href="https://www.lazaruscorporation.co.uk/cutup/text-mixing-desk/">The Lazarus Corporation Text Mixing tool.</a></p>
  </body>
  </html>
